<h1> Stupid Coaching </h1>

<h2> Ask your coach anything: </h2>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="what is your question?">
  <input class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="submit" value="Ask!">
</form>
